.container {
  background-color: #eee;
  bottom: 0;
  left: 23%;
  opacity: 0.85;
  overflow: hidden;
  overflow: hidden;
  position: absolute;
  right: 23%;
  z-index: 10;
}

.crazy {
  z-index: 3;
}

.inner {
  padding: 0%;
}

.lowerright {
  float: right;
  margin-right: 1.69%;
  overflow: visible;
}

.main {
  background: #ddd;
  color: dodgerBlue;
  font: 11pt 'Fredoka One', cursive;
  padding: 1%;
}

.p1 {
  margin: 2px;
}

.p2 {
  margin: 2px;
}

.spacing {
  width: 32.3%;
  height: 1%;
  margin-left: 1.69%;
  float: right;
  clear: both;
}

body {
  background: #343434;
}

h1 {
  margin: 4px;
}
