

wdth = 40px
hght = 32px
spaceBetween = 2.75px
lMarg = 3px
hMarg = 2px
borderWidth = 1px

body 
	background-color: paleGoldenrod
	margin: 1px

.outer
	width: 118px
	overflow: hidden
	background-color: powderBlue

.sigButton 
	font-size: small
	font-family: 'Port Lligat Sans', sans-serif
	text-align: center
	line-height: 0.8
	letter-spacing: -0.07em
	padding: 3px
	display: inline

.addButton 
	tpos = hMarg
	bpos = hMarg + hght
	lpos = lMarg

	margin: lMarg 0 lMarg lMarg

	background-color: #EE9A9A
	color: #50120C
	border: solid #650000 borderWidth
	-webkit-border-radius: 3px

.inside
	background-color: transparent
	border: hidden transparent 0px

.delButton 

	margin: lMarg 0 lMarg lMarg

	background-color: #9A9AEE
	color: #0A2643
	border: solid #002740 borderWidth
	-webkit-border-radius: 3px

.moreButton 
	margin: lMarg

	background-color: gold
	color: #0A2643
	border: solid #002740 borderWidth
	-webkit-border-radius: 3px
