

wdth = 40px
hght = 32px
spaceBetween = 2.75px
lMarg = 3px
hMarg = 2px
borderWidth = 1px

body 
	display: none
	background-color: paleGoldenrod
	margin: 1px

.outer
	padding: 3px
	float: left
	width: 119px
	overflow: hidden
	background-color: powderBlue

.outer2
	margin: 0px
	float: right
	width: 115px
	border: dotted orange 2px
	background-color: peachPuff
	padding: 3px

.sigButton 
	font-size: 0.90em
	font-family: 'Port Lligat Sans', sans-serif
	text-align: center
	line-height: 0.8
	letter-spacing: -0.07em
	padding: 6px
	display: inline
	border: none

.addButton 
	tpos = hMarg
	bpos = hMarg + hght
	lpos = lMarg

	margin: lMarg 0 lMarg lMarg

	background-color: #EE9A9A
	color: #50120C
	-webkit-border-radius: 3px

.inside
	background-color: transparent
	border: hidden transparent 0px

.delButton 

	margin: lMarg 0 lMarg lMarg

	background-color: #9A9AEE
	color: #0A2643
	-webkit-border-radius: 3px

.moreButton 
	margin: lMarg

	background-color: gold
	color: #0A2643
	-webkit-border-radius: 3px

.gogButton 
	font-size: 0.70em
	margin: 2px 5px 2px 6px

	background-color: mediumOrchid
	color: #0A2643
	-webkit-border-radius: 3px

.texButton 
	font-size: 0.70em
	margin: 2px 6px 2px 5px

	background-color: greenYellow
	color: #0A2643
	-webkit-border-radius: 3px
