html {
  width: 100px;
  height: 39px;
}
.sigButton {
  left: 1%;
  right: 1%;
  display: inline;
  font-size: small;
  font-family: 'Port Lligat Sans', sans-serif;
  text-align: center;
  position: absolute;
}
.addButton {
  top: 3%;
  bottom: 52.5%;
  z-index: 1;
  background-color: #ee9a9a;
  color: #50120c;
  border: solid #650000 1px;
  -webkit-border-radius: 3px;
}
.delButton {
  top: 54.5%;
  bottom: 3%;
  z-index: 1;
  background-color: #9a9aee;
  color: #0a2643;
  border: solid #002740 1px;
  -webkit-border-radius: 3px;
}
.inside {
  background-color: transparent;
  border: hidden transparent 0px;
  position: relative;
  height: auto;
  width: 90%;
  left: 2%;
  top: 12%;
  z-index: 2;
}

