body {
  background: #343434;
}
.container {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  margin: 0% 20% 0 20%;
  background-color: #eee;
  -webkit-border-radius: 5px;
  z-index: 10;
  opacity: 0.85;
  overflow: hidden;
}
.crazy {
  z-index: 3;
}
h1 {
  margin: 4px;
}
.inner {
  padding: 0%;
}
.main {
  background: #ddd;
  padding: 1%;
  margin: 1% 1% 0% 1%;
  color: dodgerBlue;
  font: 11pt 'Fredoka One', cursive;
}
.lowerright {
  float: right;
  overflow: visible;
  margin-right: 1.69%;
}
.p1 {
  margin: 2px;
}
.p2 {
  margin: 2px;
}
.spacing {
  width: 32.3%;
  height: 1%;
  margin-left: 1.69%;
  float: right;
  clear: both;
}
