body {
	background: #343434 url('background2.png') no-repeat fixed center;
}

div.main-nav {
	position: absolute;
	left: 3%;
	bottom: 0%;
	width: 94%;
	height: 4%;
	background-color: #444444;
	opacity: 0.8;
	z-index: 10;
}

.menB {
	height: 67%;
	width: 1.6%;
	position: absolute;
	top: 16.5%;
}

div.but1 {
	background-color: red;
	right: 25.6%;
}

div.but2 {
	background-color: yellow;
	right: 28.9%;
}

div.but3 {
	background-color: green;
	right: 32.2%;
}

div.but4 {
	background-color: blue;
	right: 35.5%;
}
